{% extends 'base.html' %}

{% block content %}

    <title>{% block title %}ZooWeb - Book Tour{% endblock %}</title>

    <h2>Book a tour: </h2>

    <script>
        $(function() {
            $("#id_user_city").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "https://secure.geonames.org/search",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            type: "json",
                            maxRows: 10,
                            name_startsWith: request.term,
                            username: "gbp2000"
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    stateOrProvince: item.adminName1,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_user_region").val(ui.item.stateOrProvince);
                        $("#id_user_country").val(ui.item.countryName);
                    }
                }
            });
        });
    </script>

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        </br>
        <input type="submit" value="Submit"/>
        
    </form>

    <p><a href="{% url 'home' %}">Go back</a></p>

{% endblock %}
