<span vocab="http://schema.org/" typeof="Reservation">
  <title>{% block title %}ZooWeb - Booking Detail{% endblock %}</title>

  <h2>Booking Information: </h2>
  <p>
      Booked by: <span property="underName">{{ user.username }}</span>
      <br/><br/>
      Date and hour: <span property="bookingTime">{{ groupofvisitor.date }} - {{ groupofvisitor.hour }}</span> 
      <br/><br/>

      Number of visitors: <span property="description">{{ groupofvisitor.number_of_visitors }}</span> 
      <br/>
      Sectors to visit: <span property="description">
                          {% for g in groupofvisitor.sector.all %}
                            {{ g.name }} -
                          {% endfor %}
                        </span>

      <br/><br/>
      <h3>Representant Information: </h3>
      <span rel="underName">
        <p typeof="Person">
          <span rel="address" typeof="PostalAddress">
              City: <span property="addressLocality">{{ groupofvisitor.user_city }}</span> 
              <br/>
              Region: <span property="addressRegion">{{ groupofvisitor.user_region }}</span> 
              <br/>
              Country: <span property="addressCountry">{{ groupofvisitor.user_country }}</span>
              <br/> 
          </span>
          Phone: <span property="telephone">{{ groupofvisitor.user_phone }}</span> 
          <br/>
        </p>  
      </span>
      <br/>
      
      <p><a href="{% url 'visitors_edit' groupofvisitor.id %}" value="Edit">Edit booking</a></p>
      <p><a href="{% url 'visitors_delete' groupofvisitor.id %}" value="Delete">Delete booking</a></p>
      <p><a href="{% url 'home' %}">Go back</a></p>

  </p>
</span>